#counter .item{
 
  -webkit-box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.34);
-moz-box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.34);
box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.34);
} 

body{
  font-family: 'Playpen Sans', cursive;
}
.navbar-nav .nav-link:hover {
  color: #d63384;
}

.ab {
  width: 100px;
  height: 100px;
}
.heading-separator-line{
  width: 80px;
}
